<div>
    <section>
        <h1>
            {{name}}
        </h1>
        <h4>
            {{description}}
        </h4>
        <p>
            <strong>
                Price: {{price}}
            </strong>
        </p>
        <p>
            <strong>
                Category: {{category}}
            </strong>
        </p>
    </section>
    <section>
        <div class="row">
            <div class="col">
                {{#with features}}
                <ul>
                    <li>
                        {{#with processor}}
                        <p>
                            <strong>
                                Processor:
                            </strong>
                        </p>
                        <p>
                            <strong>Brand:</strong>
                            {{brand}}
                        </p>
                        <p>
                            <strong>Model:</strong>
                            {{model}}
                        </p>
                        <p>
                            <strong>Speed:</strong>
                            {{speed}}
                        </p>
                        <p>
                            <strong>Cores:</strong>
                            {{cores}}
                        </p>
                        <p>
                            <strong>Cache:</strong>
                            {{cache}}
                        </p>
                        {{/with}}
                    </li>
                    <br>
                    <li>
                        {{#with memory}}
                        <p>
                            <strong>
                                Memory:
                            </strong>
                        </p>
                        <p>
                            <strong>
                                Type:
                            </strong>
                            {{type}}
                        </p>
                        <p>
                            <strong>
                                Size:
                            </strong>
                            {{size}}
                        </p>
                        <p>
                            <strong>
                                Speed:
                            </strong>
                            {{speed}}
                        </p>
                        {{/with}}
                    </li>
                    <br>
                    <li>
                        {{#with storage}}
                        <p>
                            <strong>
                                Storage:
                            </strong>
                        </p>
                        <p>
                            <strong>
                                Type:
                            </strong>
                            {{type}}
                        </p>
                        <p>
                            <strong>
                                Size:
                            </strong>
                            {{size}}
                        </p>
                        {{/with}}
                    </li>
                    <br>
                    <li>
                        {{#with display}}
                        <p>
                            <strong>
                                Display:
                            </strong>
                        </p>
                        <p>
                            <strong>
                                Size:
                            </strong>
                            {{size}}
                        </p>
                        <p>
                            <strong>
                                Resolution:
                            </strong>
                            {{resolution}}
                        </p>
                        <p>
                            <strong>
                                Technology:
                            </strong>
                            {{technology}}
                        </p>
                        <p>
                            <strong>
                                Color space:
                            </strong>
                            {{color_space}}
                        </p>
                        <p>
                            <strong>
                                Brightness:
                            </strong>
                            {{brightness}}
                        </p>
                        <p>
                            <strong>
                                Refresh rate:
                            </strong>
                            {{refresh_rate}}
                        </p>
                        {{/with}}
                    </li>
                    <br>
            </div>
            </ul>
            <div class="col">
                <ul>
                    <li>
                        {{#with graphics}}
                        <p>
                            <strong>
                                Graphics:
                            </strong>
                        </p>
                        <p>
                            <strong>
                                Brand:
                            </strong>
                            {{brand}}
                        </p>
                        <p>
                            <strong>
                                Model:
                            </strong>
                            {{model}}
                        </p>
                        <p>
                            <strong>
                                Memory:
                            </strong>
                            {{memory}}
                        </p>
                        {{/with}}
                    </li>
                    <br>
                    <li>
                        <p>
                            <strong>
                                Ports:
                            </strong>
                        </p>
                        {{#each ports}}
                        <ul>
                            <li>
                                <p>
                                    <strong>
                                        Type:
                                    </strong>
                                    {{type}}
                                </p>
                                <p>
                                    <strong>
                                        Count:
                                    </strong>
                                    {{count}}
                                </p>
                                <ul>
                                    {{#each features}}
                                    <li>
                                        <p>
                                            {{[]}}
                                        </p>
                                    </li>
                                    {{/each}}
                                </ul>
                                <br>
                            </li>
                        </ul>
                        {{/each}}
                    </li>
                    <br>

                    <li>
                        {{#with battery}}
                        <p>
                            <strong>
                                Battery:
                            </strong>
                        </p>
                        <p>
                            <strong>
                                Type:
                            </strong>
                            {{type}}
                        </p>
                        <p>
                            <strong>
                                Capacity:
                            </strong>
                            {{capacity}}
                        </p>
                        <p>
                            <strong>
                                Life:
                            </strong>
                            {{life}}
                        </p>
                        {{/with}}
                        <br>
                    <li>
                        <p>
                            <strong>
                                Weight:
                            </strong>
                            {{weight}}
                        </p>
                    </li>
                    </li>
                    <br>
                </ul>
            </div>

            <div class="col">
                <ul>
                    <li>
                        {{#with dimensions}}
                        <p>
                            <strong>
                                Dimensions:
                            </strong>
                        </p>
                        <p>
                            <strong>
                                Height:
                            </strong>
                            {{height}}
                        </p>
                        <p>
                            <strong>
                                Width:
                            </strong>
                            {{width}}
                        </p>
                        <p>
                            <strong>
                                Depth:
                            </strong>
                            {{depth}}
                        </p>
                        {{/with}}
                    </li>
                    <br>
                    <li>
                        <p>
                            <strong>
                                Operating system:
                            </strong>
                            {{operating_system}}
                        </p>
                    </li>
                    <br>
                    <li>
                        <ul>
                            <p>
                                <strong>
                                    Accessories:
                                </strong>
                            </p>
                            {{#each accessories}}
                            <li>
                                <p>
                                    <strong>
                                        {{name}}
                                    </strong>
                                </p>
                                <p>
                                    <strong>
                                        Price:
                                    </strong>
                                    {{price}}
                                </p>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
            </div>
            {{/with}}
            </ul>

    </section>
</div>