{{#with person}}
<div>
    <section>
        <h1>
            {{name}}
        </h1>
        <p>
            <b>
                Age: </b>{{age}}

        </p>
        <p>
            <b>
                Gender: </b>{{gender}}

        </p>

        {{#with address}}
        <address>
            <p><b>Address:</b></p>
            <div>
                {{street}}
            </div>
            <div>
                {{ city }},
            </div>

            <abbr title="New York state">
                {{state}}
            </abbr>

            <div>
                Zip-code: {{zip}}
            </div>

            <abbr title="United States of America">
                {{country}}
            </abbr>

        </address>
        {{/with}}

    </section>

    <br>

    {{#each education}}
    <section>
        <div>
            <h2> Education</h2>
        </div>
        <p>
            <b>Degree:</b> {{degree}}
        </p>
        <p>
            {{major}}
        </p>
        <p><strong>University: </strong>{{university}}</p>
        <time><b> Graduation year:</b> 2012</time>
    </section>
    {{/each}}

    {{#each workExperience}}
    <section>
        <div>
            <p>
            <h2>Work experience</h2>
            </p>
        </div>
        <div>
            <p>
                <b>Company:</b> {{company}}
            </p>
        </div>
        <div>
            <p>
                <b>Position:</b> {{title}}
            </p>
        </div>
        <time>
            <b>Duration:</b> {{startDate}} - {{endDate}}
        </time>
        <br>
        <br>
        <div>
            <b>Responsibilities:</b>
            {{#each responsibilities}}
            <ul>
                <li>
                    {{[]}}
                </li>
            </ul>

            {{/each}}

        </div>
        <div>
            <b> Year founded:</b> <time>{{year_founded}}</time>
        </div>
        <p>
            <b>Industry:</b> {{industry}}
        </p>
    </section>

    <br>
    {{#each employees}}
    <section>
        <div>
            <ul>
                <div>
                    <h3>
                        Employees
                    </h3>
                </div>
                <div>

                    <li>
                        <p>
                            <strong>
                                Name:
                            </strong>
                            {{name}}
                        </p>
                        <p>
                            <b>Position:</b> {{position}}
                        </p>
                        <p>
                            <b>Department:</b> {{department}}
                        </p>
                    </li>
                </div>
                <br>
                <div>
                    <h3>
                        Projects
                    </h3>
                </div>
                {{#each projects}}

                <ul>
                    <li>
                        <div>
                            <b>Name:</b>
                            {{name}}
                        </div>
                        <p>
                            <b>Description:</b> {{description}}
                        </p>
                        <div>
                            <b>Status:</b> {{status}}
                        </div>
                        <br>
                        {{#each teams}}
                        <ul>
                            <b>Team:</b>
                            <div>
                                <li>
                                    <p>
                                        <strong>
                                            Team name:
                                        </strong>
                                        "{{team_name}}"
                                    </p>
                            </div>

                            {{#with team_leader}}
                            <p>
                                <b>{{name}}</b> ({{title}})
                            </p>

                            <div>
                                <a href="mailto:{{email}}"> {{email}}</a>
                            </div>
                            {{/with}}
                    </li>

                    <br>
                    <br>
                    {{#each team_members}}
                    <ul>
                        <p> <b>Members:</b></p>
                        <li>
                            <p>
                                <b>
                                    {{name}}
                                </b>
                                ({{title}})
                            </p>

                            <div>
                                <a href="mailto:{{email}}"> {{email}}</a>
                            </div>
                            <div>
                                <div>
                                    <p>
                                        <b>Skills</b>
                                    </p>
                                </div>
                                {{#each skills}}
                                <ul>
                                    <li>
                                        {{[]}}
                                    </li>
                                </ul>
                                {{/each}}
                            </div>
                        </li>
                    </ul>
                </ul>


                </li>
                <br>
                <br>
                <li>
                    {{#each projects}}
                    <p>
                        <b>
                            Name:
                        </b>
                        {{name}}
                    </p>
                    <div>
                        <b>Description:</b> {{description}}
                    </div>
                    <br>
                    <div>
                        <p>
                            <b> Technologies</b>
                        </p>
                    </div>
                    <div>
                        {{#each technologies}}
                        <ul>
                            <li>
                                {{[]}}
                            </li>
                        </ul>
                        {{/each}}
                    </div>
                    <br>
                    <div>
                        <p>
                            <b>Team members</b>
                        </p>
                    </div>
                    {{#each team_members}}
                    <ul>
                        <li>
                            <div>
                                <b>{{name}}</b>
                            </div>
                            {{title}}
                            <br>
                            <br>
                        </li>
                    </ul>
                    {{/each}}
                </li>
                {{/each}}
                {{/each}}
            </ul>
        </div>
        {{/each}}
        {{/each}}
    </section>
    {{/each}}
    {{/each}}
</div>
</li>
</ul>
</div>
{{/with}}