<div>
    {{#with program}}
    {{#with excursion}}
    <hr class="mb-5 mt-4">
    <section class="text-center">
        <h1>{{name}}</h1>
        <div>
            {{#with location}}
            <address>
                <b>Location:</b>
        </div>
        <p>
            <b>City:</b> {{city}}
        </p>
        <p>
            <b>Country:</b> {{country}}
        </p>
        {{/with}}
        </address>
        <time><b>Date:</b> {{date}}</time>
    </section>
    <hr class="mb-5 mt-4">
    <div class="row">
        {{#each program}}
        <div class="col-6">
            <div class="card bg-light">
                <div class="card-body ms-5">
                    <div class="mt-5">
                        <p>
                            <strong>
                                Program name:
                            </strong>
                            {{name}}
                        </p>
                        <p>
                            <b> Type: </b> {{type}}
                        </p>
                        <p>
                            <b>Duration:</b> {{duration}}
                        </p>
                    </div>

                    <div>
                        {{#with details}}

                        {{#with museum}}
                        <p class="mb-5">
                            <b>
                                Museum name:
                            </b>
                            {{name}}
                        </p>


                        {{#with location}}
                        <address>
                            <div>
                                <b>Address:</b>
                                {{address}}
                            </div>
                            <p>
                                <b>City:</b> {{city}}
                            </p>
                            <div class="mb-5">
                                <b>Country:</b>
                                {{country}}
                            </div>
                        </address>
                        {{/with}}

                        <p> <b>Exhibits:</b></p>
                        {{#each exhibits}}

                        <ul>
                            <li class="mb-4">
                                <p>
                                    <b>Name:</b>
                                    {{name}}
                                </p>
                                <div>
                                    <b>
                                        Artist:
                                    </b>
                                    {{#if artist}}
                                    {{artist}}
                                    {{else}}
                                    Немає
                                    {{/if}}
                                </div>
                                <p>
                                    <b>
                                        Description:
                                    </b>
                                    {{description}}
                                </p>
                                <div>
                                    {{#if audio_guide}}
                                    <b>Audio guide:</b>
                                    <i class="bi bi-play-circle"></i>
                                    {{/if}}
                                </div>
                            </li>
                        </ul>
                        {{/each}}
                        {{/with}}

                        {{#with venue}}
                        <p class="mb-4">
                            <b>
                                Name:
                            </b>
                            {{name}}
                        </p>


                        <address class="mb-5">
                            {{#with location}}
                            <div class="mt-5">
                                <b>
                                    Address:
                                </b>
                                {{address}}
                            </div>
                            <p>
                                <b>
                                    City:
                                </b>
                                {{city}}
                            </p>
                            <div>
                                <b>
                                    Country:
                                </b>
                                {{country}}
                            </div>
                            {{/with}}
                        </address>
                        {{/with}}
                        {{#if performers}}
                        <p class="mt-5">
                            <strong>
                                Performers:
                            </strong>
                        </p>
                        {{else}}

                        {{/if}}
                        {{#each performers}}

                        <ul>
                            <li>
                                <div>
                                    <b>
                                        Name:
                                    </b>
                                    {{name}}
                                </div>
                                <p>
                                    <b>
                                        Type:
                                    </b>
                                    {{type}}
                                </p>
                            </li>
                        </ul>
                        {{/each}}


                        <p class="mt-5">
                            <strong>
                                Guide:
                            </strong>
                        </p>
                        {{#with guide}}
                        <div>
                            <b>
                                Name:
                            </b>
                            {{name}}
                        </div>
                        <p>
                            <b>
                                Language:
                            </b>
                            {{language}}
                        </p>
                        <div class="mb-5">
                            <b>
                                Rating:
                            </b>
                            {{rating}}
                        </div>
                        {{/with}}
                        {{/with}}
                    </div>

                </div>
            </div>
        </div>

        {{/each}}

    </div>

    {{/with}}
    {{/with}}
</div>