<div>
    {{#with program}}
    {{#with excursion}}
    <section>
        <h1>{{name}}</h1>
        <div>
            {{#with location}}
            <address>
                <b>Location:</b>
        </div>
        <p>
            <b>City:</b> {{city}}
        </p>
        <p>
            <b>Country:</b> {{country}}
        </p>
        {{/with}}
        </address>
        <time><b>Date:</b> {{date}}</time>
    </section>

    <section>
        {{#each program}}
        <ul>
            <li>
                <div>
                    <p>
                        <strong>
                            Program name:
                        </strong>
                        {{name}}
                    </p>
                    <p>
                        <b> Type: </b> {{type}}
                    </p>
                    <p>
                        <b>Duration:</b> {{duration}}
                    </p>
                </div>

                <div>
                    {{#with details}}

                    {{#with museum}}
                    <p>
                        <b>
                            Museum name:
                        </b>
                        {{name}}
                    </p>
                    <br>

                    {{#with location}}
                    <address>
                        <div>
                            <b>Address:</b>
                            {{address}}
                        </div>
                        <p>
                            <b>City:</b> {{city}}
                        </p>
                        <div>
                            <b>Country:</b>
                            {{country}}
                        </div>
                    </address>
                    {{/with}}
                    <br>
                    <br>
                    <b>Exhibits:</b>
                    {{#each exhibits}}

                    <ul>
                        <li>
                            <p>
                                <b>Name:</b>
                                {{name}}
                            </p>
                            <div>
                                <b>
                                    Artist:
                                </b>
                                {{#if artist}}
                                {{artist}}
                                {{else}}
                                Немає
                                {{/if}}
                            </div>
                            <p>
                                <b>
                                    Description:
                                </b>
                                {{description}}
                            </p>
                            <div>
                                <b>Audio guide:</b>
                                {{audio_guide}}
                            </div>
                        </li>
                    </ul>
                    {{/each}}
                    {{/with}}

                    {{#with venue}}
                    <p>
                        <b>
                            Name:
                        </b>
                        {{name}}
                    </p>
                    <br>

                    <address>
                        {{#with location}}
                        <div>
                            <b>
                                Address:
                            </b>
                            {{address}}
                        </div>
                        <p>
                            <b>
                                City:
                            </b>
                            {{city}}
                        </p>
                        <div>
                            <b>
                                Country:
                            </b>
                            {{country}}
                        </div>
                        {{/with}}
                    </address>
                    {{/with}}
                    <br><br>
                    {{#each performers}}
                    <ul>

                        <p>
                            <strong>
                                Performer:
                            </strong>
                        </p>
                        <li>
                            <div>
                                <b>
                                    Name:
                                </b>
                                {{name}}
                            </div>
                            <p>
                                <b>
                                    Type:
                                </b>
                                {{type}}
                            </p>
                        </li>
                    </ul>
                    {{/each}}
                    <br>

                    <p>
                        <strong>
                            Guide:
                        </strong>
                    </p>
                    {{#with guide}}
                    <div>
                        <b>
                            Name:
                        </b>
                        {{name}}
                    </div>
                    <p>
                        <b>
                            Language:
                        </b>
                        {{language}}
                    </p>
                    <div>
                        <b>
                            Rating:
                        </b>
                        {{rating}}
                    </div>
                    {{/with}}
                    {{/with}}
                </div>
                <br>
                <br>
                <br>
                <br>
            </li>
        </ul>
        {{/each}}
    </section>
    {{/with}}
    {{/with}}
</div>