<div>
    <div class="mb-5">
        <h1>
            Programming languages
        </h1>
    </div>
    {{#with web}}
    <div class="row">
        {{#each languages}}
        <div class="col-4">
            <div class="card ">
                <div class="card-header bg-info">
                    <div>

                        <h2><abbr title=""> {{name}}</abbr></h2>
                    </div>
                    <p>
                        <b>
                            Version:
                        </b>
                        <abbr title=""> {{version}}</abbr>
                    </p>
                    <div>
                        <b>
                            Description:
                        </b>
                        {{description}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="card m-3">

                        <div class="card-header  bg-primary text-light">


                            {{#if properties}}
                            <div class="card-title">
                                <strong>
                                    Properties
                                </strong>

                            </div>
                            {{/if}}
                            {{#if elements}}
                            <div class="card-title">
                                <strong>
                                    Elements
                                </strong>

                            </div>
                            {{/if}}

                            {{#if functions}}
                            <div class="card-title">
                                <strong>
                                    Functions
                                </strong>

                            </div>

                            {{/if}}
                        </div>
                        <div class="card-body bg-light">
                            {{#each elements}}

                            <div class="ms-4">
                                <p>
                                    <strong>
                                        Name:
                                    </strong>
                                    {{name}}
                                </p>
                                <p>
                                    <b>
                                        Description:
                                    </b>
                                    {{description}}
                                </p>


                                <ul>
                                    {{#each attributes}}
                                    <li>
                                        <div>
                                            <strong>
                                                Name:
                                            </strong>
                                            {{name}}
                                        </div>
                                        <p>
                                            <strong>
                                                Description:
                                            </strong>
                                            {{description}}
                                        </p>
                                    </li>
                                    {{/each}}
                                </ul>

                            </div> {{#if @last}}
                            {{else}}
                            <hr class="mb-5 mt-4">
                            {{/if}}
                            {{/each}}

                            {{#each properties}}

                            <div class="ms-4">
                                <p>
                                    <strong>
                                        Name:
                                    </strong>
                                    {{name}}
                                </p>
                                <p>
                                    <strong>
                                        Description:
                                    </strong>
                                    {{description}}
                                </p>
                                <ul>{{#each values}}
                                    <li>
                                        <div>
                                            <strong>
                                                Value:
                                            </strong>
                                            {{value}}
                                        </div>
                                        <p>
                                            <strong>
                                                Description:
                                            </strong>
                                            {{description}}
                                        </p>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            {{#if @last}}
                            {{else}}
                            <hr class="mb-5 mt-4">
                            {{/if}}

                            {{/each}}
                            {{#each functions}}
                            <div class="ms-4">
                                <p>
                                    <strong>
                                        Name:
                                    </strong>
                                    {{name}}
                                </p>
                                <p>
                                    <strong>
                                        Description:
                                    </strong>
                                    {{description}}
                                </p>

                                <p><strong>Parameters</strong> </p>
                                <ul>
                                    {{#each parameters}}
                                    <li>
                                        <div>
                                            <strong>
                                                Name:
                                            </strong>
                                            {{name}}
                                        </div>
                                        <p>
                                            <strong>
                                                Type:
                                            </strong>
                                            {{type}}
                                        </p>
                                        <div>
                                            <strong>
                                                Description:
                                            </strong>
                                            {{description}}
                                        </div>
                                        <br>
                                        <br>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            {{#if @last}}
                            {{else}}
                            <hr class="mb-5 mt-4">
                            {{/if}}
                            {{/each}}


                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}
</div>