<div class="card mt-5">
    <div class="card-body">
        <div class="card mb-3 mt-3">
            <div class="card-header ">
                <div class="card-title">
                    {{#with title}}
                    <p>
                        <strong>{{userName}}</strong>
                    </p>
                    <p>
                        {{caption}}
                    </p>
                    <div>
                        {{date}}
                    </div>
                    {{/with}}
                </div>
            </div>
            {{#with reviewBody}}
            {{#with seller}}
            <div class="card-body">

                <p>
                    {{title}}:

                    <span>
                        {{value}}
                    </span>
                </p>
                {{/with}}
                {{#with rating}}
                <p class="mt-3">
                    {{title}}:

                    <span>{{value}}</span>
                </p>
                {{/with}}
                {{#each text}}
                <p>{{this}}</p>
                {{/each}}
                {{#with advantages}}
                <div><strong>{{title}}:</strong></div>
                <div>{{text}}</div>
                {{/with}}
                {{#with disadvantages}}
                <div class="mt-3">
                    <div>
                        <strong> {{title}}:</strong>
                    </div>
                    <div>
                        {{text}}
                    </div>
                </div>
                {{/with}}
                <div class="mt-3">
                    {{#each images}}
                    <img src="{{this}}">
                    {{/each}}
                </div>

            </div>
        </div>
        {{#each coments}}
        <div class="card mt-3 ms-5">
            <div class="card-body">
                <p><strong>{{userName}}</strong></p>
                <p>{{date}}</p>
                <p>{{text}}</p>
            </div>
        </div>
        {{/each}}
        {{/with}}
    </div>
</div>